/* #region debug */

.debug header{
    height: 100px;
    background-color: red;
}

.debug main{
    height: 400px;
    background-color: green;
}

.debug footer{
    height: 100px;
    background-color: blue;
}
 

/* #endregion debug */

/* #region common */

body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
/* #endregion common */

main{
    padding: 0 2rem;
}

/* #region utilities */

:root{
    --box1:color rgb(59, 59, 209);
    --box2:color rgb(53, 199, 72);
    --box3:color rgb(230, 93, 116);
    --box-footer1:color rgb(254, 255, 192);
    --box-footer2:color rgb(51, 173, 153);
}

/* #endregion utilities */



/* #region header */
#header_container{
    /* height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#header_container > div{
    background-color: aqua;
    margin-top: 2.3rem;
}

.logo{
    flex-grow: 1;
    text-align: center;
    margin-left: 10rem;
}

.links {
    flex-grow: 3;
    text-align: center;
}

.login {
    flex-grow: 1;
    text-align: center;
    margin-right: 10rem;
}


/* #endregion header */



/* #region main */
.box{
    background-color: blueviolet;
    text-align: center;
}

#section2 {
    display: flex;
    justify-content: center;
}

#section3 {
    display: flex;
    justify-content: center;
}

#section4{
    display: flex;
    justify-content: center;
}

.inside_box1{
    flex-grow: 3;
    background-color: lightblue;
}

.inside_box2 {
    flex-grow: 1;
    background-color: lightcoral;
}

/* #endregion main */



/* #region footer */


/* #endregion footer */